<div id="parent0">
  <div class="container text-center">
    <div id="title-div">
      <h1>{{title}}</h1>
      <p>Welcome to {{title}}</p>
      <p>
        {{isLoggedIn}}
      </p>
      <div id="button-pane" class="row justify-content-center m-t-3">
        <div class="col-md-4">
          <a href="/login" rol="button" class="button btn-primary btn-lg m-b-2 hvr-bounce-in">Submit a Ticket</a>
        </div>
        <div class="col-md-4">
          <a href="/register" role="button" class="button btn-primary btn-lg hvr-bounce-in">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
