<div id="parent1" class="text-center row justify-content-center" style="">
  <!-- display:none; -->
  <form class="col-md-6">
    <h1>Submit Your Ticket</h1>
    <div class="form-group">
      <label for="companyName">Company Name</label>
      <input type="text" class="form-control" id="CompanyName" placeholder="Example LLC.">
    </div>
    <div class="form-group">
      <label for="ticketReason">Reason</label>
      <select class="form-control" id="ticketReason">
        <option>Technical Support</option>
        <option>Account Inquiry</option>
        <option>Facilities</option>
        <option>Resources</option>
      </select>
    </div>
    <div class="form-group">
      <label for="commentArea">Comment</label>
      <textarea class="form-control" id="commentArea" rows="3"></textarea>
    </div>
    <div class="form-group ">
      <label for="email-input">Email</label>
      <input class="form-control" type="email" placeholder="quic@example.com" id="email-input">
    </div>
    <button type="submit" class="btn btn-primary btn-lg m-b-2">Submit</button>
  </form>
</div>
