body,html {
  padding: 50px;
  font-family: 'Raleway', sans-serif !important;
  height: 100vh;
  background: linear-gradient(-40deg, #4776E6, #8E54E9);
}

a {
  color: #00B7FF;
}

#parent0{
  color:#FFFFFF;
}

.navbar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-brand {
    padding: 0;
    margin-top: 1%;
    margin-right: 15px;
}

.navbar img {
  width: 125px;
    height: 40px !important;
}

#parent0 h1{
  font-size: 64px;
}
 #title-div{
   transform: translateY(40%);
 }

 #parent1 form{
   transform: translateY(20%);
 }

 #parent1 label,
 #parent1 h1{
   color: #FFFFFF;
 }

 #button-pane a{
   width: 75%;
 }
